.bottom-play-bg {
  position: fixed;
  z-index: 12;
  bottom: 0;
  width: 100%;
  height: 53px;
  background: url(/static/images/playbar.png) repeat-x;
  background-position: 0 0;
}

.play-button {
  position: relative;
  float: left;
  margin-top: 10px;
  width: 137px;
  height: 42px;
}

.play-pre {
  position: absolute;
  top: 6px;
  left: 0;
  width: 28px;
  height: 28px;
  background-position: 0 -130px;
  z-index: 2;
}

.play-pre:hover {
  background-position: -30px -130px;
}

.play-current {
  position: absolute;
  top: 2px;
  left: 35px;
  width: 36px;
  height: 36px;
  background-position: 0 -204px;
  z-index: 2;
}

.play-current:hover {
  background-position: -40px -204px;
}

.play-next {
  position: absolute;
  top: 6px;
  left: 78px;
  width: 28px;
  height: 28px;
  background-position: -80px -130px;
}

.play-next:hover {
  background-position: -110px -130px;
}

.bottom-play-flag {
  position: relative;
  float: left;
  width: 34px;
  height: 34px;
}

.play-flag-img {
  margin-top: 12px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.bottom-play {
  position: relative;
  float: left;
  width: 493px;
  height: 53px;
  margin-left: 10px;
}

.el-progress-bar__outer {
  background: #161616;
}

.play-current-pause {
  background-position: 0 -165px;
}

.play-current-pause:hover {
  background-position: 0 -165px;
}

.el-progress {
  bottom: -35px;
}

.author-information {
  position: absolute;
  top: 13px;
  left: 0;
}

.author-information > a:nth-child(2) ~ a {
	display: inline-block;
}

.author-information > a:nth-child(2) ~ a::before {
	position: inherit;
	content: '/';
	display: inline-block;
}

.song-name {
  color: #e8e8e8;
  margin-right: 10px;
}

.author-name {
  color: #9b9b9b;
}

.f-tdn {
  position: absolute;
  top: 28px;
  left: -3px;
  display: inline-block;
  width: 22px;
  height: 24px;
  background-position: 0 -250px;
}

.song-time {
  position: absolute;
  right: -85px;
  top: 32px;
  color: #797979;
}

.song-time>em {
  font-style: normal;
  color: #a1a1a1
}

.el-slider__runway {
  height: 9px;
  background-color: #535353;
  margin: 0;
}

.el-slider__bar {
  height: 9px;
  background-color: #c70c0c;
  border-radius: 4px;
}

.el-slider__button {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 22px;
  height: 24px;
  background: url('/static/images/iconall.png');
  background-position: 0 -250px;
  border: none;
}

.play-add {
  position: absolute;
  top: 18px;
  left: 80px;
  margin-right: 20px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: -88px -163px;
}

.play-add:hover {
  background-position: -88px -189px;
}

.play-share {
  position: absolute;
  top: 18px;
  left: 105px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: -114px -163px;
}

.play-share:hover {
  background-position: -114px -189px;
}

.right-flag {
  display: inline-block;
  width: 6px;
  background-position: -147px -240px;
  margin-left: 140px;
  position: absolute;
  top: 10px;
}

.icn-vol {
  position: relative;
  top: 9px;
  left: 10px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: -2px -248px;
}

.icn-vol:hover {
  background-position: -31px -248px;
}

.icn-volno {
  background-position: -104px -69px;
}

.icn-volno:hover {
  background-position: -126px -69px;
}

.icn-loop {
  position: absolute;
  top: 9px;
  left: 40px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: -3px -344px;
}

.icn-loop:hover {
  background-position: -33px -344px;
}

.icn-shuffle {
  position: absolute;
  top: 9px;
  left: 40px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: -66px -248px;
}

.icn-shuffle:hover {
  background-position: -93px -248px;
}

.icn-one {
  position: absolute;
  top: 9px;
  left: 40px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: -66px -344px;
}

.icn-one:hover {
  background-position: -93px -344px;
}

.volume {
  display: none;
}

.volume-bg {
  position: absolute;
  bottom: 56px;
  left: 10px;
  width: 23px;
  height: 113px;
  background: #292929;
}

.el-slider.is-vertical .el-slider__runway {
  margin: -7px 9px;
}

.volume-bg .el-slider__button {
  position: absolute;
  left: 9px;
  width: 18px;
  height: 20px;
  background-position: -40px -250px;
}

.play-list {
  position: absolute;
  left: 68px;
  top: 10px;
  display: inline-block;
  width: 38px;
  height: 24px;
  line-height: 24px;
  background-position: -42px -70px;
  color: #666;
  padding-left: 21px;
}

.play-list:hover {
  background-position: -42px -100px;
}

.play-list-hidden {
  display: none;
}

.play-album-bg {
  display: inline-block;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 12px;
  left: 0;
  background-position: 0 -80px;
}

.start-pic {
	width: 20px;
	height: 20px;
	margin-top: 19px;
}
